<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      Central de atendimento
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="senhasService.inicio()">Iniciar chamadas automáticas</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>