<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Batalha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Batalha</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: {{this.pokemonAtual.nameColor}} ">{{ this.pokemonAtual.name | uppercase}}</ion-card-title>
      <ion-card-title>{{this.pokemonAtual.battleResult}}</ion-card-title>
      <ion-img alt=''
      src={{this.pokemonAtual.svgURL}}>
      </ion-img>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Abilities: {{this.pokemonAtual.abilitiesCount}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Heigth: {{this.pokemonAtual.height}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Weigth: {{this.pokemonAtual.weight}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>