.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  
    .pokemon-container {
      text-align: center;
  
      img {
        width: 600px; 
        height: auto; 
        margin-bottom: 20px; 
      }
  
      h2 {
        font-size: 30px; 
        margin-top: 50px;
        margin-bottom: 30px; 
      }
  
      p {
        font-size: 18px; 
        margin-bottom: 5px; 
        text-align: center;
      }
    }
  }
  
  